<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML</title>
  <!-- HTML -->
  <!-- Custom Styles -->
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="main" class="main">
  
    <i class="red fa-solid fa-street-view"></i>
    <i class="red fa-solid fa-street-view"></i>
    <i class="red fa-solid fa-street-view"></i>
    <i class="red fa-solid fa-street-view"></i>
    
    <i class="green fa-solid fa-street-view"></i>
    <i class="green fa-solid fa-street-view"></i>
    <i class="green fa-solid fa-street-view"></i>
    <i class="green fa-solid fa-street-view"></i>

    <i class="blue fa-solid fa-street-view"></i>
    <i class="blue fa-solid fa-street-view"></i>
    <i class="blue fa-solid fa-street-view"></i>
    <i class="blue fa-solid fa-street-view"></i>

    <i class="yellow fa-solid fa-street-view"></i>
    <i class="yellow fa-solid fa-street-view"></i>
    <i class="yellow fa-solid fa-street-view"></i>
    <i class="yellow fa-solid fa-street-view"></i>
    
    <img class="board" src="/img/board.jpg" alt="Ludo Board" />
  </div>
  <button type="submit" id="dice">Roll</button>
  <div id="out"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
  <script src="/js/sound.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>